* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

//container principal
.container-fluid {
  @media (max-width: 980px) {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    @media (max-width: 980px) {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
  main {
    background-color: rgba(252, 246, 246, 0.4);
  }
}

.navbar {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  @media (max-width: 980px) {
    height: 25vw;
    margin-top: 2vw;
    margin-bottom: 15vw;
  }
  &__logo {
    width: 35%;
  }
  &__form {
    width: 30%;
    @media (max-width: 980px) {
      position: relative;
      top: 1vw;
      width: 100%;
    }
    input {
      @media (max-width: 980px) {
        font-size: 4vw;
        text-align: center;
      }
    }
  }
  &__lien {
    width: 35%;
    padding-left: 10%;
    @media (max-width: 980px) {
      position: absolute;
      padding-left: 0;
      padding-right: 10%;
      top: 5vw;
      right: 0;
    }
  }
  //balise contenant le font user et le font panier
  .user__client,
  .user__panier {
    //display: inline-block;
    font-size: 20px;
    padding-top: 2%;
    @media (max-width: 980px) {
      font-size: 4vw;
    }
  }
  .user__panier {
    position: relative;
    color: rgba(15, 14, 15, 0.548);
    left: 30%;
    .bulle {
      display: inline-block;
      width: 1.5vw;
      height: 1.5vw;
      padding-top: 10%;
      text-align: center;
      font-size: 1vw;
      position: relative;
      bottom: 2vw;
      right: 1.5vw;
      border-radius: 100%;
      @media (max-width: 980px) {
        font-size: 3vw;
        bottom: 4vw;
        right: 2vw;
      }
    }
  }
  .user__client {
    position: relative;
    right: 15%;
  }
  .logo {
    width: 50%;
    height: 100%;
    @media (max-width: 980px) {
      width: 100%;
    }
  }
  .input-group-text {
    @media (max-width: 980px) {
      padding: 1vw 1vw;
      font-size: 3vw;
    }
  }
}
h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  @media (max-width: 980px) {
    font-size: 5vw;
  }
}

#sectionArticle {
  width: 100%;
  height: 100%;
  margin-top: 8%;
  @media (max-width: 980px) {
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2 {
    width: 100%;
    font-weight: bold;
    position: relative;
    top: -4vw;
    text-align: center;
    @media (max-width: 980px) {
      font-size: 4vw;
    }
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 980px) {
      flex-direction: column;
    }
  }
}
article {
  width: 100%;
  margin: 5px;
  text-align: center;
  div {
    box-shadow: 2px 1px 10px rgb(236, 222, 222);
    height: 160px;
    @media (max-width: 980px) {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
.box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 1%;
  @media (max-width: 980px) {
    flex-direction: column;
  }
  .card {
    width: 40%;
    @media (max-width: 980px) {
      width: 100%;
      border-radius: 0px;
    }
    .card-img-top {
      height: 70%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
  .contain__param {
    @media (max-width: 980px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .btn {
        margin-bottom: 5%;
      }
    }
  }
}

img {
  object-fit: cover;
  width: 30%;
  height: 30%;
}
.backColorFooter {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 150px;
  @media (max-width: 980px) {
    height: 35vw;
    margin-top: 1%;
  }
  p {
    line-height: 1;
    padding-top: 1%;
    @media (max-width: 980px) {
    }

    a {
      color: white;
      text-decoration: none;
      padding-left: 5%;
    }
  }
}
//image contenu dans le tableau du panier
.img-tab {
  width: 6vw;
  height: 5vw;
}
h3{
  margin: auto;
  text-align: center;
}

table {
  text-align: center;
  @media (max-width: 980px) {
    font-size: 1.5vw;
  }
}
.btn-vide{
  position:relative;
  text-align: center;
  top:3vw;
  left:1vw;
  
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  @media (max-width: 980px) {
    font-size: 1.6vw;
    top:5vw;
    margin-left:0.5em;
   
  }
  @media (max-width: 650px) {
    top:6vw;
    margin-left:-1em;
   
  }
  
}
.form-row {
  margin-left: 0;
  margin-right: 0;
}
.cont {
  h2 {
    @media (max-width: 980px) {
      text-align: center;
      font-size: 5vw;
    }
  }
}

.container-btn {
  width: 100%;
  height: 50%;
  padding-left: 15%;
  @media (max-width: 980px) {
    margin: 0;
    padding-left: 7vw;
    width: 55vw;
  }

  margin: auto;
  span {
    float: right;
    width: 50%;
    text-align: center;
    @media (max-width: 980px) {
      display: inline-block;
      width: 20vw;
    }
  }
  input {
    text-align: center;
    outline: none;
    width: 10%;
    float: left;
    height: 3vw;
    border-style: none;
    float: left;
    margin-left: -20%;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    @media (max-width: 980px) {
      width: 4.95vw;
      margin-left:-18.7% !important;
      font-size: 1.5vw;
      display: inline-block;
      margin-right:-100vw;
      height: 4vw;
    }
    @media (max-width: 290px) {
      margin-left:-19% !important;
      width: 4.95vw;
    }
  


  }
  button {
    outline: none;
    border-style: none;
    height: 3vw;
    width: 10%;
    text-align: center;
    font-weight: bold;
    background-color: white;

    color: gray;
    font-size: 20px;
    @media (max-width: 980px) {
      font-size: 2vw;
      text-align: center;
      margin-left: 0;
      width: 4vw;
      height: 4vw;
    }
    //operation +
    &:nth-child(1) {
      float: left;
      border-bottom-left-radius: 0.3vw;
      border-top-left-radius: 0.3vw;
    }
    //operation -
    &:nth-child(2) {
      float: left;
      margin-left: 10%;
      @media (max-width: 980px) {
        margin-left: 10.5%;
      }

      border-bottom-right-radius: 0.3vw;
      border-top-right-radius: 0.3vw;
    }
  }
}

.alert {
 
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}
.container-command{
  @media (max-width:980px) {
    font-size:2.5vw;
  }
+table{
  @media (max-width:980px) {
    font-size:2.5vw;
  } 
}
}
.btn-command {
  margin: 1% auto;
}
//footer du tab de resultat
.resultat {
  background-color: orange;
  font-weight: bold;
}
.info-text{
  text-align: left;
}
.cont-spinner{
  position: fixed;
  width: 100%;
  height:100%;
  z-index:-1000;
  opacity:0;
  background-color: white;
  animation: cont-spinner 3s ease-in-out backwards;

}
.lds-ring {
  display: inline-block;
  position: relative;
  top:20%;
  left:45%;
  width: 224px;
  height: 224px;
  @media (max-width:980px) {
    top:50%;
    left:30%;
    width: 30vw;
    height: 30vw;
    
  }
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 204px;
  height: 204px;
  @media (max-width:980px) {
    width: 30vw;
    height: 30vw;
    
  }
  margin: 8px;
  border: 10px solid rgb(162, 209, 162);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(240, 4, 181) transparent transparent transparent;
  
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes cont-spinner {
  0%{
    z-index:1000;
    opacity:1;
  }
  100%{
  opacity:0;
  

  }
  
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
 
  }
}
.message-success{
  opacity:0;
  text-align: center;
  position: fixed;
  width:100%;
  height:100%;
  animation: message 2s ease-in-out 4s backwards;

}
.container-command{
  opacity:1;
  animation:progress 3s ease-in-out 3s backwards;
}
@keyframes message {
  0%{

    opacity:1;
  }
  100%{
    opacity:0;
   
  }
  
}
.msg{
  color:green;
  position: relative;
  top:20%;
  font-size:20px;
  font-weight: bold;
  opacity:1;
}

@keyframes progress {
  0%{
    transform:translateY(-150px);
    opacity:0;
  }
  70%{
    opacity:0;
  }

  100%{
    transform:translateY(0px);
    opacity:1;
  }

  
}
@keyframes msg-valid{
  0%{
    transform: scale(0);
    transform-origin:left;
  }
  100%{
    transform: scale(1);
  }
}
.box-msg{
  position: relative;
  top:30%;
.msg-valid{
  font-size:7vw;
  animation: msg-valid 1s ease-in-out 2s backwards;
}
}
.panier-vide{
  width: 100%;
  height:100%;
  padding:50px 10px 40px;
  position:relative;
  font-size:20vw;
  text-align:center;
  color:blueviolet;
  margin-bottom:1%;
}
.info-panier{
  text-align: center;
  margin-top:3%;
}

